body {
  color: #f2f2f2;
  /* text-align: center; */
  background-color: #3b3e43;
  height: 100vh;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .container {
  background-image: linear-gradient(#696969, #BDBDBD); 
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin-top: 2em;
}
head {
  grid-column: 1/2;
  grid-row: 1/2;
}
.page{
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  font-size: 3em;
  text-transform: uppercase;
}
/* #title {
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
} */
nav {
  margin-left: 0.5em;
  height: 65vh;
  width: 15vw;
  filter: drop-shadow(0 0 0.5rem #192223);
}

.navbtn {
  color: #99999b;
  margin-top: 0em;
  width: 15vw;
  height: 10vh;
  font-size: 1em;
  border-image-slice: 1; 
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #3b3e43;
}
.navbtn:hover .translate {
  left: 0;
  color: white !important;
}
.navbtntext {
  position: relative;
  padding-top: 12%;
  height: 8vh;
  transition: all .3s ease-Out;
  text-decoration: none;
}
.translate {
  /* transform: rotate(35deg); */
  width: 100%;
  height: 300%;
  left: -500px;
  top: -30px;
  background: linear-gradient(to right, rgb(209, 3, 3),rgb(71, 3, 3));
  position: absolute;
  transition: all .2s ease-Out;
}
.dplogo {
  margin-top: 1em;
  float: left;
  height: 20vmin;
  width:  20vmin;
  filter: drop-shadow(0 0 0.5rem #192223);
  margin-bottom: 5vh;
  margin-left: 2vw;
}
.Loading-logo {
  float: right;
  /* margin-top: 2em; */
  /* margin-right: 25vw; */
  height: 20vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .Loading-logo {
    animation: Loading-logo-spin infinite 5s linear;
  }
}
@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  background-image: linear-gradient(#f7f7f7, #a1a6a8); 
  filter: drop-shadow(0 0 0.5rem #192223);
}
.dashboard {
  text-align: left;
  width: 100%;
}
.editor-input{
  text-align: left;
  
}
.editor{
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
table tbody td{
  border: none;
}
table thead th:first-child {
  border-radius: 10px 0 0 0;
}
table thead th:last-child {
  border-radius: 0 10px 0 0;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
td {
  max-width: 0;
  overflow: scroll;
  white-space: nowrap;
}
.data-list{
  width: 10%;
}
.data-edit{
  width: 10%;
}
.pname{
  width: 40%;
}
.btn-sm {
  height: 1.5rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.scrp{
  width: 250px;
  margin-top: 0.2em;
}
.console-log{
  border-radius: 15px;
  padding: 1em;
  background-color: #192223;
  color: #f2f2f2;
  height: 30vh;
  width: 30vw;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.refresh{
  display: flex;
  float: right;
}
.search{
  display: flex;
  float: right;
}

h6{
  color: red;
}
.toast-body {
  color:#192223;
}
.print{
  width: 20em;
}
#warning{
  color: crimson;
  display: none;
}
.print-btns{
  text-align: center;
}